<!DOCTYPE html>
<html>
<head>
  <title>Battery Alexander</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!--  %= javascript_include_tag 'application', 'data-turbolinks-track' => true % -->
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="navbar-brand navbar-nav navbar-left">
                <%= link_to "Battery Alexander Partners", '#', id:"logo" %>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", "/home" %></li>
                <li><%= link_to "About Us", "/aboutus" %></li>
                <li><%= link_to "Investments", "/investments" %></li>
                <li><%= link_to "Investors", "#" %></li>
                <li><%= link_to "Advisory Services", "#" %></li>
                <li><%= link_to "Contact Us", "/contactus" %></li>
            </ul>
        </div>

      </div>
    </div>
</header>



    <%= yield %>


</body>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class=""container">
    <ul class="nav navbar-nav navbar-right"">
        <li id="copyright">Copyright 2016 Battery Alexander Partners, LLC</li>
    </ul>
  </div>
</footer>

</html>
